#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
name: Sambal Gami Uno | Jalan Veteran No. 28 Pekalongan (50 meter sebelah utara RSUD Kraton)

# Short bio or description (displayed in the header)
description: Pilihan Menu Hemat, Bikin Nagih Setiap Saat!

# Keywords for crawling (displayed in the header)
keywords: sambal gami, sambal gami uno, sambal gami pekalongan, sobat wani pedes pekalongan, sambal gami pertama di pekalongan, rekomendasi sambal gami di pekalongan, sambal gami enak di pekalongan, rekomendasi makanan di pekalongan, rekomendasi makan di pekalongan, rekomendasi rumah makan di pekalongan, rekomendasi makan malam di pekalongan, makanan pekalongan, makan pekalongan, makanan yang enak di pekalongan, makanan pekalongan yang enak, makan siang pekalongan, makan malam pekalongan, kuliner pekalongan, kuliner pekalongan terdekat, kuliner pekalongan siang, kuliner pekalongan malam,makan enak di pekalongan, makanan enak di pekalongan, warung makan enak di pekalongan, makan siang enak di pekalongan, makan malam enak di pekalongan, makan enak murah di pekalongan, makan enak di kota pekalongan, makanan enak dan murah di pekalongan, makanan enak yang ada di pekalongan, tempat makan di pekalongan, tempat makan hits di pekalongan

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: /assets/img/icon-180.png

# Versioning assets with date
assets: '2023-01-26T07:09:00Z'

# Theme color for browser tab on mobile
theme_color: '#fff'

# Open Graph Protocol or Twitter Card image
thumbnail: /assets/img/ogp.jpeg

# WhatsApp number for order
whatsapp_number: 6285328777707
whatsapp_text: Halo%20Kak%20Uno,%0ASaya%20Mau%20Pesan%20

#
# Flags below are optional
#

# Paginate home
# paginate: 5
# paginate_path: "/blog/page:num/"

# Includes an icon in the footer for each username you enter
footer-links:
  dribbble:
  email:
  facebook:
  flickr:
  github:
  instagram: sambalgami.uno
  Tiktok: gamiuno
  linkedin:
  pinterest:
  rss: rss
  twitter:
  stackoverflow: # your stackoverflow profile, e.g. "users/50476/bart-kiers"
  youtube: # channel/<your_long_string> or user/<user-name>
  googleplus: # anything in your profile username that comes after plus.google.com/


# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
disqus:

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics:

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url: "https://sambalgamiuno.orderio.id"

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: ""

#
# !! You don't need to change any of the configuration flags below !!
#

permalink: /:title/

# Schedule build
future: false

# The release of Jekyll Now that you're using
version: v1.2.0

# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

# Set the Sass partials directory, as we're using @imports
sass:
  style: :compressed # You might prefer to minify using :compressed, or unminify using :expanded

# Use the following plug-ins
gems:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem
  - jekyll-paginate # Create a paginate using the official Jekyll paginate gem

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
